.container-box-links{

    padding: 0 20px;
    text-align: center;
}

.box-links{

    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.box-links-menu{

    text-align: center;
    margin: 0 10px 10px;
    text-transform: capitalize;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #00cad1;
    font-size: 18px;
}

h1{

    font-size: 25px;
}

.secao-especialidade{

    margin-top: 40px;
    
}

#ortopedia, #pediatria, #geriatria, #psicologia, #fisioterapia{

    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}

.especialidade-item{

    margin-bottom: 30px;
}

.especialidade-item h2{

    margin-bottom: 20px;
}

.especialidade-item p{

    width: 600px;
}

.box-tabela-especialidade{

    display: flex;
    height: 240px;
    padding: 0 20px;
    
}

.box-tabela-especialidade img{


    height: 100%;
    width: 300px;
    object-fit: cover;

}

.tabela-especialidade{

    border-spacing: 0;
    width: 600px;
    text-align: left;
    height: 100%;

}

.tabela-especialidade thead tr{

    background-color:  #00cad1;
    color: #fff;
    
}

.tabela-especialidade tr{

    background-color: #f1f1f1;
    color: #585757;
    font-weight: 500;
}

.tabela-especialidade tbody tr:nth-of-type(2n+1){

    background-color: #cdcdcd;
    border: 1px solid #f1f1f1;
}

.tabela-especialidade th, .tabela-especialidade td  {
  padding: 10px;
}


@media ( max-width: 425px) {

    .tabela-especialidade{

        width: 100%;
    }

    .box-tabela-especialidade img{

        display: none;
    }

    .especialidade-item p{

        width: 100vw;
    }
}

@media (max-width: 768px) {
  .box-tabela-especialidade img {
    display: none;
  }

  .tabela-especialidade {
    width: 100%;
  }

  .box-tabela-especialidade {
    height: auto;
    justify-content: center;
  }
}